@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
h2{
    @apply text-3xl text-marineBlue font-bold mb-2
}

p{
    @apply font-light text-coolGray
}

h4 {
    @apply text-base font-bold
}

h5{
    @apply font-normal text-marineBlue
}

.main{
    @apply h-screen flex items-center justify-center bg-magnolia font-sans lg:items-start
}

.card{
    @apply bg-white p-7 rounded-xl max-w-6xl flex lg:flex-col lg:p-0 lg:relative lg:h-screen lg:bg-magnolia
}

#setupForm{
    @apply pl-28 pr-24 flex flex-col justify-between max-w-3xl lg:absolute lg:inset-0
}

.circle{
    @apply w-8 h-8 rounded-full border flex items-center justify-center
}

.defaultCircle{
    @apply border-white text-white bg-transparent
}

.highlightCircle{
    @apply text-marineBlue bg-pastelBlue border-pastelBlue
}


.tab{
    @apply hidden lg:bg-white lg:rounded-lg lg:px-6 lg:absolute lg:top-24 lg:left-5 lg:w-[335px]
}

.subHeading{
    @apply mb-10 lg:mb-5
}

.btn{
    @apply font-normal px-4 py-2 text-center whitespace-nowrap cursor-pointer rounded-md
}

.btn-primary{
    @apply bg-marineBlue text-white hover:bg-purplishBlue transition-all
}

.btn-secondary{
    @apply text-coolGray
}


/* SIDEBAR */
#sideBar h4{
    @apply text-white
}

#sideBar p{
    @apply font-light
}

/* YOUR INFO */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#info input{
    @apply border p-3 rounded-md outline-none focus:outline-purplishBlue focus:outline-1 focus:outline-offset-0
}

#info input.invalid {
    @apply border-strawberryRed
}

/* SELECT PLAN */
#options {
    @apply flex gap-x-6
}

/* ADD-ONS */
.addonPrice{
    @apply text-purplishBlue
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }